@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
:root {
--font-base: 'Lexend', sans-serif;
--font-secondary-base: 'Inter', sans-serif;
--color-primary: #e50914;
--color-secondary: #ffffff;
--color-background: #1111111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #111;
  }